# Python / Django
__pycache__/
*.py[cod]
*.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
# local_settings.py # Usually ignored, but settings are via .env here
caspinex/db.sqlite3 # Default DB for dev
caspinex/db.sqlite3-journal
instance/
.webassets-cache
.scrapy

# Django media files (if not versioned by choice)
media/ # Ignoring the default media root at project level

# Virtual environment
.env # Generic name for environment file often used at root
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE / Editor specific
.vscode/
.idea/
*.project
*.tmproj
*.sublime-workspace
*.swp
*.swo

# Node / React
frontend/caspinex-client/node_modules/
frontend/caspinex-client/build/
frontend/caspinex-client/.pnp
frontend/caspinex-client/.pnp.js
frontend/caspinex-client/coverage/
# .DS_Store is OS specific, good to have

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm

# Caspinex specific
caspinex/.env # Ensure the actual .env file for Django is ignored

# Operating System files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
